# Dependency files
.depend
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Executables
*.exe
*.out
*.app
shell

# Build directories
build/
bin/

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db